.create-game-component {
    width: 450px;
    border: lightgray solid 1px;
    border-radius: 20px;
    padding: 20px;
    background-color: black;
    position: fixed;
    top: 80px;
    z-index: 1000;

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
    z-index: 999; /* Ensure it appears above the content */
    display: flex;
    justify-content: center;
    align-items: center;
  }

.create-game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    color: white;
}

.close-button {
    background-color: transparent;
}

.play-button {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}
