.game-over-container {
    height: 250px;
    width: 600px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    padding: 25px;
    border: rgb(100, 100, 100) solid 2px;
    z-index: 1000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
    z-index: 999; /* Ensure it appears above the content */
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-over-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: right;
    margin-bottom: 40px;
}

i:hover {
    cursor: pointer;
}

.artist-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    gap: 10px;
    height: 60px;
    margin-bottom: 20px;
}

.artist-container :nth-child(1) {
    justify-content: right;
}

.artist {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    font-size: 10px;
}

.artist p {
    font-size: 15px;
    margin-top: 15px;
    align-self: center;
}

.arrow {
    scale: 1.6;
    margin-inline: 20px;
    margin-top: 10px;
}

.small-image {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}