.create-game-component {
    width: 450px;
    border-radius: 20px;
    padding: 20px;
    background-color: black;
}

.create-game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    color: white;
}

.close-button {
    background-color: transparent;
}

.play-button {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}
