.search-component {
    padding: 20px;
    color: white;
    width: 100%;
}

.input-field {
    width: 100%;
}

.button {
    width: 100%;
    margin: 0;
    border-radius: 0px;
}

button:hover {
    text-decoration: underline;
    outline: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}