.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.nav-bar h3 {
  color: white;
  font-size: 30px;
  padding-inline: 40px;
}

.nav-bar button {
  border-radius: 30px;
}

.nav-bar button:hover {
  outline: transparent;
}

