.artist-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    color: #000;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    max-width: 170px;
}

.artist-card:hover {
    cursor: pointer;
    scale: 1.05;
}

.artist-card h2 {
    font-size: 15px;
    text-wrap: wrap;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.image-container {
    height: 150px;
    width: 150px;
    overflow: hidden;
    align-items: center;

}