
.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.nav-bar h3 {
  color: var(--accent-color2);
  font-size: 30px;
  padding-inline: 40px;
}

.nav-bar button {
  width: 150px;
  border-radius: 30px;
  border: var(--accent-color) solid 1px;
}

.nav-bar button:hover {
  background-color: var(--accent-color2);
  text-decoration: none;
}



