.nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
  padding-inline: 20px;
  background-color: black;
  color: rgb(0, 166, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-right: 40px;
  color: white;
}

body, html, #root {
  padding: 0;
  width: 100%;
}

.game-body {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: green;
}