.gameHeaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 20px;
    width: 500px;
}

.guesses {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: rgb(59, 59, 59) solid 2px;
    border-radius: 10px;
    padding: 5px;
    padding-inline: 20px;
    margin-top: 20px;
}

.guesses p {
    margin: 0;
}

.artistContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: fit-content;
    height: 40px;
}

.arrow {
    scale: 1.5;
    margin-top: 10px;
}

.artist {
    margin-top: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 10px;
}

.artist p {
    font-size: 15px;
    margin-top: 15px;
    align-self: center;
}

.smallImage {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}